@import '../../assets/styles/global.module';
@import '../../assets/styles/mixins';

.background {
  // margin: 5% auto;
  margin: 0 auto;
  // max-width: 70%;
  max-width: 85%;
  min-height: 250px;
  background: white;
  border-radius: 25px;
  padding: 20px;
}

.todoTitle {
  @include fonts('Poppins', 35px, #1363df, 700);
}

.textFieldAndBtnCreate {
  margin-top: 20px;
  // margin-left: 15%;
  display: flex;
  justify-items: center;
  align-items: center;
}

.btnCreateNewTask {
  margin-left: 20px;
}

.noTasks {
  @include fonts('Poppins', 20px, black, 400);

  margin: 20px 0 0 29%;
}

// .TabsAndList {
//   margin-top: 15px;
//   display: flex;
// }
