@import "../../assets/styles/global.module";

.todoTask {
  width: 100%;
}

.taskText {
  @include fonts("Poppins", 20px, $black, 400);
}

.taskTextChecked {
  text-decoration: line-through;
  color: $grey;
}
